<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<title>BigEvent</title>


	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i%7CPoppins:300,400,500,600,700"
		rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Archivo:400,500,600,700|Oswald:200,300,400,500,600,700"
		rel="stylesheet">

	<!-- Bootstrap -->
	<link href="assets/css/bootstrap.min.css" rel="stylesheet">

	<!-- Font-Awesome -->
	<link href="assets/css/font-awesome.min.css" rel="stylesheet">

	
	<!-- Style -->
	 
	 
	<link href="assets/css/index-9.css" rel="stylesheet">
 


</head>

<body class="home-fashion">






	<section class="multi-gallery-section style2 padding-120">
		<div class="container">
			<div class="row">
				<div class="section-header style2">
					<h3>Our Event Gallerys</h3>
					<p>Synergistically Visualize Competitive Action Ttems For Open Source Opportunities Professionaly
						Develop Vertical Oportunities Rather Than</p>
				</div>
				<div class="section-wrapper row">
					<div class="col-lg-4 col-md-6">
						<div class="">
							<span></span>
							<div class="gallery-item-inner">
								<div class="gallery-thumb">
									<img src="images/12-09-18/photo-gallery/image1.jpg" alt="image">
									<div class="gallery-thumb-ovarlay"></div>
									<a href="" class="gallery-icon">
										<i class="fa fa-camera" aria-hidden="true"></i>
									</a>
								</div>
								<div class="gallery-title">
									<h4>Theater Conference 2014</h4>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6">
						<div class="gallery-item">
							<span></span>
							<div class="gallery-item-inner">
								<div class="gallery-thumb">
									<img src="images/12-09-18/photo-gallery/image2.jpg" alt="image">
									<div class="gallery-thumb-ovarlay"></div>
									<a href="" class="gallery-icon">
										<i class="fa fa-camera" aria-hidden="true"></i>
									</a>
								</div>
								<div class="gallery-title">
									<h4>Business Conference 2015</h4>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6">
						<div class="gallery-item">
							<span></span>
							<div class="gallery-item-inner">
								<div class="gallery-thumb">
									<img src="images/12-09-18/photo-gallery/image3.jpg" alt="image">
									<div class="gallery-thumb-ovarlay"></div>
									<a href="" class="gallery-icon">
										<i class="fa fa-camera" aria-hidden="true"></i>
									</a>
								</div>
								<div class="gallery-title">
									<h4>Music Fastival 2016</h4>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6">
						<div class="gallery-item">
							<span></span>
							<div class="gallery-item-inner">
								<div class="gallery-thumb">
									<img src="images/12-09-18/photo-gallery/image4.jpg" alt="image">
									<div class="gallery-thumb-ovarlay"></div>
									<a href="" class="gallery-icon">
										<i class="fa fa-camera" aria-hidden="true"></i>
									</a>
								</div>
								<div class="gallery-title">
									<h4>Wedding Ceremony 2021</h4>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6">
						<div class="gallery-item">
							<span></span>
							<div class="gallery-item-inner">
								<div class="gallery-thumb">
									<img src="images/12-09-18/photo-gallery/image5.jpg" alt="image">
									<div class="gallery-thumb-ovarlay"></div>
									<a href="" class="gallery-icon">
										<i class="fa fa-camera" aria-hidden="true"></i>
									</a>
								</div>
								<div class="gallery-title">
									<h4>Sports Conference 2021</h4>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6">
						<div class="gallery-item">
							<span></span>
							<div class="gallery-item-inner">
								<div class="gallery-thumb">
									<img src="images/12-09-18/photo-gallery/image6.jpg" alt="image">
									<div class="gallery-thumb-ovarlay"></div>
									<a href="" class="gallery-icon">
										<i class="fa fa-camera" aria-hidden="true"></i>
									</a>
								</div>
								<div class="gallery-title">
									<h4>Travel Conference 2021</h4>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>







	<!-- Footer Start here -->
	<footer class="footer-six">
		<div class="overlay">
			<div class="container">
				<h2>BigEvent</h2>
				<ul class="event-social">
					<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
					<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
					<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
					<li><a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
					<li><a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
					<li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
				</ul>
				<p>Copyright &copy; 2021. Design and Development by <a href="https://www.codexcoder.com/">LabArtisan</a>
				</p>
			</div>
		</div>
	</footer>
	<!-- Footer End here -->





</body>

</html>